{% extends '../template.html' %}
{% block title %} Confirmation Page  {% endblock title %}
{% load rest_framework %}
{% block header %}
    {% include '../header.html' %}
<p></p>
{% endblock header %}

{% block content %}
<div class="container">
  <div class="row">
    {% for db in db_str %}
      <h4> WELCOME {{ db|upper}} </h4>
    {% endfor %}
  </div>
  <div class="row">
      {% include '../message/messages.html' %}
    <p></p>
    <p></p>
  </div>
  <form method="POST" autocomplete="off">
    {% csrf_token %}
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
        <p> {% render_form password %} </p>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
        {% render_form otp_form %}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
          <p>
            <input type="submit" name="login" class="btn btn-primary" value="Login"
                   style="width: 305px; font-weight: bold; background-color:#008066; border-color: #008066;" />
        </p>
      </div>
    </div>
    <div class="row">
        <p> {{ phone_number }} </p>
      <p><a href="{% url 'logout' %}"> Logout </a> </p>
    </div>
  </form>

  <p>Join the train of evolving rewards &nbsp; <a href="{% url 'register' %}"> Register </a> </p>
</div>

{% endblock content %}

{% block footer %}
    {% include '../footer.html' %}
{% endblock footer %}